.description, .about, .process {
  p {
    font-size: 16px;
    color: var(--paragraph-color);
    letter-spacing: 0.02em;
    line-height: 26px;
    width: 540px;
  }
}

.header__nav{
  display: flex;
  flex-direction: row;
  gap: 42px;
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 42px;
    margin: 0;
    padding-block: 80px ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-wrap: nowrap;
    li a {
      text-decoration: none;
      color: black;
    }
    li a:hover {
      color: var(--main-color);
    }
  }
}