//Main colors
$main-color: #34547A;
$paragraph-color: #727272;

.description, .about, .process {
  p {
    font-size: 16px;
    color: $paragraph-color;
    letter-spacing: 0.02em;
    line-height: 26px;
    width: 540px;
  }
}

//Navigational bar
.header__nav{
  display: flex;
  flex-direction: row;
  gap: 42px;
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 42px;
    margin: 0;
    padding-block: 80px ;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-wrap: nowrap;
    li {
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: $main-color;
      }
    }
  }
}

footer {
  background-color: $main-color;
  color: #ffffff;
  padding-inline: 20px;
  .container__footer {
    height: 151px;
    max-width: 1110px;
    .footer__item {
      margin-inline: auto;
      h2 {
        font-size: 21px;
        font-weight: 500;
        padding-block: 50px 13px;
      }
      span {
        font-size: 13px;
      }
    }
  }
}

//Tablet
@media screen and (max-width: 1160px) {
  .description__header, .about__header, .process__header {
    font-size: 30px;
  }

  .description__about, .about__about, .process__about {
    font-size: 14px;
    margin-inline: auto;
  }
  //Header
  .header__nav {
    justify-content: center;
    ul {
      gap: 30px;
      font-size: 18px;
      justify-content: center;
      padding-block: 40px;
    }
  }


  //Footer
  footer {
    .container__footer {
      text-align: center;
      height: 120px;
      width: 708px;
      .footer__item {
        .footer__name {
          padding-top: 40px;
        }
        .footer__copyright {
          font-size: 16px
        }
      }
    }
  }
}

//Smartphone
@media screen and (max-width: 768px) {
  header {
    .container__header {
      .navbar__list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        ul {
          padding-block: 20px 15px;
          font-size: 16px;
        }
      }
    }
  }

  main {
    .container__about, .container__projects, .container__process {
      padding-inline: 10px;
      }
  }
  footer {
    padding-inline: 10px;
    min-width: 375px;
    .container__footer {
      width: 335px;
      margin-inline: auto;
      .footer__item {
        .footer__name {
          font-size: 16px;
        }
        .footer__copyright {
          font-size: 14px;
        }
      }
    }
  }
}