@use "common";
//Main colors
$main-color: #34547A;
$secondary-color: #EEEFF1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
//Part Header
header {
  background-color: $secondary-color;
  padding-inline: 20px;
  height: 700px;
  .container__header {
    max-width: 1110px;
    margin-inline: auto;
    .description {
      .description__header {
        padding-top: 82px;
        padding-bottom: 45px;
        margin: 0;
        font-size: 48px;
        font-weight: 500;
      }
      .description__button {
        background-color: $main-color;
        height: 65px;
        width: 225px;
        margin-top: 58px;
        color: #ffffff;
        border: none;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 16px;
        padding-block: 19px 20px;
      }
      .description__button:hover {
        cursor: pointer;
      }
    }
  }
}

//Part main
main {
  //About
  .container__about {
    height: 359px;
    background-color: #F9F9F9;
    padding-inline: 20px;
    .about {
      text-align: center;
      max-width: 1110px;
      margin-inline: auto;
      .about__header {
        padding-block: 112px 40px;
        margin: 0;
        font-size: 32px;
        font-weight: 500;
      }
      .about__about {
        margin-inline: auto;
      }
    }
  }

  //Projects
  .container__projects {
    margin-inline: auto;
    background-color: $main-color;
    color: #ffffff;
    height: 250px;
    display: flex;
    justify-content: center;
    padding-inline: 20px;
    .projects {
      max-width: 1110px;
      display: flex;
      gap: 49px;
      justify-content: center;
      .top_row__projects, .bottom_row__projects {
        display: flex;
        gap: 49px;
        .projects__item {
          width: 141px;
          height: 50px;
          margin-block: auto;
          background: left no-repeat url("../../assets/images/project.svg");
          padding-left: 70px;
          line-height: 24px;
          .large_font__projects {
            font-size: 21px;
          }
        }
      }
    }
  }

  //Process
  .container__process {
    background-color: #EEEFF1;
    padding-inline: 20px;
    height: 1004px;
    .process {
      .process__item {
        margin-inline: auto;
        max-width: 1110px;
        .process__header, .process__about {
          text-align: center;
          margin-inline: auto;
        }
        .process__header {
          padding-block: 100px 42px;
          margin: 0;
          font-size: 32px;
          font-weight: 500;
        }
        .process__about {
          padding-bottom: 50px;
        }
        .video {
          margin-inline: auto;
        }
      }
    }
  }
}


//Tablet
@media screen and (max-width: 1160px) {
  .description__header, .about__header, .process__header {
    font-size: 30px;
  }

  .description__about, .about__about, .process__about {
    font-size: 14px;
    margin-inline: auto;
  }
  //Header
  header {
    height: 500px;
    .container__header {
      width: 708px;
      .description {
        text-align: center;
        .description__header {
          padding-top: 41px;
          padding-bottom: 22px;
          margin: 0;
          font-weight: 500;
        }
        .description__button {
          height: 55px;
          width: 180px;
        }
      }
    }
  }

  main {

    //About
    .container__about {
      height: 260px;
      .about {
        width: 708px;
        .about__header {
          padding-top: 41px;
        }
      }
    }

    //Projects
    .container__projects {
      height: 260px;
      .projects {
        flex-direction: column;
        gap: 16px;
        width: 708px;
        .top_row__projects, .bottom_row__projects {
          justify-content: center;
          .projects__item {
            height: 72px;
            width: 175px;
            .large_font__projects {
              font-size: 16px;
            }
          }
        }
      }
    }

    //Process
    .container__process {
      height: 700px;
      .process {
        width: 708px;
        margin-inline: auto;
        .process__item {
          .process__header {
            padding-top: 41px;
          }
          .video {
            width: 708px;
            height: 383px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  //Header
  header {
    padding-inline: 10px;
    height: 475px;
    min-width: 375px;
    .container__header {
      width: 335px;
      .description {
        .description__header {
          font-size: 24px;
        }
        .description__about {
          width: 335px;
          font-size: 12px;
        }
        .description__button {
          margin-block: 20px;
          padding-block: 5px;
          width: 150px;
          height: 35px;
          font-size: 14px;
        }
      }
    }
  }

  //Main
  main {
    min-width: 375px;

    //About
    .container__about {
      .about {
        width: 335px;
        height: 400px;
        .about__header {
          padding-block: 32px 22px;
          font-size: 24px;
        }
        .about__about {
          width: 335px;
          font-size: 12px;
        }
      }
    }

    //Projects
    .container__projects {
      height: 360px;
      .projects {
        flex-direction: row;
        width: 335px;
        .top_row__projects, .bottom_row__projects {
          flex-direction: column;
          gap: 30px;
          .projects__item {
            height: 70px;
            width: 140px;
            font-size: 12px;
            margin-block: 0;
            .large_font__projects {
              font-size: 12px;
            }
          }
        }
      }
    }

    //Process
    .container__process {
      height: 450px;
      .process {
        width: 335px;
        .process__item {
          .process__header {
            padding-block: 32px 22px;
            font-size: 24px;
          }
          .process__about {
            width: 335px;
            font-size: 12px;
          }
          .video {
            width: 335px;
            height: 181px;
          }
        }
      }
    }
  }
}